@model IEnumerable<WebNinnoFeliz.Models.ViewModels.RegistroBajaNinno>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<h1>Tabla de registro baja</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table id="Tabla" class="table">
    <thead class="table-dark">
        <tr>
            <th>
                IdRegistroBaja
            </th>
            <th>
                FechaBaja
            </th>
            <th>
                Identificacion Niño
            </th>
            <th>
                Nombre niño
            </th>
            <th>
                Apellido1 niño
            </th>
            <th>
                Apellido2 niño
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRegistroBaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaBaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificacionNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell1Ninno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell2Ninno)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdRegistroBaja" class="btn btn-success">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdRegistroBaja" class="btn btn-info">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdRegistroBaja" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#Tabla').DataTable();
        });
    </script>
}