@model IEnumerable<WebNinnoFeliz.Models.ViewModels.NinnoGenero>
@*@model IEnumerable<WebNinnoFeliz.Models.Ninno>*@

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<h1>Tabla de niño</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
    <a asp-action="PDF" class="btn btn-primary">PDF</a>
</p>
<table id="Tabla" class="table">
    <thead class="table-dark">
        <tr>
            <th>
                IdNiño
            </th>
            <th>
                IdentificacionNiño
                @*@Html.DisplayNameFor(model => model.IdentificacionNinno)*@
            </th>
            <th>
                NombreNiño
                @*@Html.DisplayNameFor(model => model.NombreNinno)*@
            </th>
            <th>
                Apell1Niño
                @*@Html.DisplayNameFor(model => model.Apell1Ninno)*@
            </th>
            <th>
                Apell2Niño
                @*@Html.DisplayNameFor(model => model.Apell2Ninno)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                DireccionNiño
                @*@Html.DisplayNameFor(model => model.DireccionNinno)*@
            </th>
            <th>
                Genero
                @*@Html.DisplayNameFor(model => model.IdGeneroNavigation)*@
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificacionNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell1Ninno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell2Ninno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DireccionNinno)
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.IdGeneroNavigation.DetalleGen)*@
                    @Html.DisplayFor(modelItem => item.DetalleGen)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdNinno" class="btn btn-success">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdNinno" class="btn btn-info">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdNinno" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#Tabla').DataTable();
        });
    </script>
}