@model IEnumerable<WebNinnoFeliz.Models.Ninno>
@{
    ViewData["Title"] = "PDF";
    Layout = "~/Views/Shared/_Sty.cshtml";
}

<h1>PDF de niño</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                IdNiño
            </th>
            <th>
                IdentificacionNiño
                @*@Html.DisplayNameFor(model => model.IdentificacionNinno)*@
            </th>
            <th>
                NombreNiño
                @*@Html.DisplayNameFor(model => model.NombreNinno)*@
            </th>
            <th>
                Apell1Niño
                @*@Html.DisplayNameFor(model => model.Apell1Ninno)*@
            </th>
            <th>
                Apell2Niño
                @*@Html.DisplayNameFor(model => model.Apell2Ninno)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                DireccionNiño
                @*@Html.DisplayNameFor(model => model.DireccionNinno)*@
            </th>
            <th>
                Genero
                @*@Html.DisplayNameFor(model => model.IdGeneroNavigation)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificacionNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell1Ninno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell2Ninno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaNacimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DireccionNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGeneroNavigation.DetalleGen)
                </td>
            </tr>
        }
    </tbody>
</table>

