@model IEnumerable<WebNinnoFeliz.Models.ViewModels.NinnoEncargados>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<h1>Tabla de niños y su encargados</h1>


<table id="Tabla" class="table">
    <thead class="table-dark">
        <tr>
            <th>
                IdNiñoEncargado
            </th>
            <th>
                Identificacion Encargado
            </th>
            <th>
                Nombre Encargado
            </th>
            <th>
                Apellido1 Encargado
            </th>
            <th>
                Apellido2 Encargado
            </th>
            <th>
                Parentezco
            </th>
            <th>
                Nombre niño
            </th>
            <th>
                Apellido1 niño
            </th>
            <th>
                Apellido2 niño
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdentificacionEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell1Encargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell2Encargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetallePar)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell1Ninno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apell2Ninno)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#Tabla').DataTable();
        });
    </script>
}

