@model WebNinnoFeliz.Models.UsoComedore

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>UsoComedore</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMesNavigation.NombreMes)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNinnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNinnoNavigation.Apell1Ninno)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUsoComedor" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
