@model WebNinnoFeliz.Models.UsoComedore

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UsoComedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadDias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadDias)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMesNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMesNavigation.NombreMes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNinnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNinnoNavigation.Apell1Ninno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdUsoComedor" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Back to List</a> 
</div>
