@model IEnumerable<WebNinnoFeliz.Models.UsoComedore>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de Uso del Comedor</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a> 
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsoComedor)
            </th>
            <th>
                Cantidad de Días
            </th>
            <th>
                Id Mes
            </th>
            <th>
                Id Niño
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsoComedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMesNavigation.NombreMes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNinnoNavigation.Apell1Ninno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsoComedor">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsoComedor">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsoComedor">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
