@model IEnumerable<WebNinnoFeliz.Models.UsoComedore>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de Uso del Comedor</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
    <a asp-action="PDF" class="btn btn-primary">PDF</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUsoComedor)
            </th>
            <th>
                Cantidad de Días
            </th>
            <th>
                Mes
            </th>
            <th>
                NombreNiño
            </th>
            <th>
                Apell1Ninno
            </th>
            <th>
                Apell2Ninno
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsoComedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDias)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMesNavigation.NombreMes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNinnoNavigation.NombreNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNinnoNavigation.Apell1Ninno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNinnoNavigation.Apell2Ninno) 
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdUsoComedor" class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdUsoComedor" class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdUsoComedor" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
