@model IEnumerable<WebNinnoFeliz.Models.Abonadore>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEncargadoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.Apell1Encargado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAbonador">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdAbonador">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAbonador">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
