@model IEnumerable<WebNinnoFeliz.Models.Abonadore>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de Abonadores</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a> 
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdAbonador) 
            </th>
            <th>
                Numero de Cuenta
            </th>
            <th>
                Id Encargado
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAbonador) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.Apell1Encargado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAbonador">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAbonador">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAbonador">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
