@model WebNinnoFeliz.Models.Asistencia

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Asistencia</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAsist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAsist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoAsist)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoAsist)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNinnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNinnoNavigation.Apell1Ninno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdAsistencia"class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
