@model IEnumerable<WebNinnoFeliz.Models.Asistencia>

@{
    ViewData["Title"] = "PDF";
    Layout = "~/Views/Shared/_Sty.cshtml";
}

<h1>Tabla de asistencia</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                Id Asistencia
            </th>
            <th>
                Fecha de asitencia
            </th>
            <th>
                Estado
            </th>
            <th>
                Identificacion
            </th>
            <th>
                Nombre Niño
            </th>
            <th>Apellido1 Niño</th>
            <th>Apellido2 Niño</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdAsistencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAsist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoAsist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoNavigation.IdentificacionNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoNavigation.NombreNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoNavigation.Apell1Ninno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoNavigation.Apell2Ninno)
                </td>
            
            </tr>
        }
    </tbody>
</table>
