@model IEnumerable<WebNinnoFeliz.Models.Parentezco>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de parentezcos</h1>



<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
    <a asp-action="PDF" class="btn btn-primary">PDF</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdParentezco)
            </th>
            <th>
                Datalle
                @*@Html.DisplayNameFor(model => model.DetallePar)*@
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdParentezco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DetallePar)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdParentezco" class="btn btn-success">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdParentezco" class="btn btn-info">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdParentezco" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
