@model IEnumerable<WebNinnoFeliz.Models.Genero>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de genero</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                IdGenero
            </th>
            <th>
                Genero
                @*@Html.DisplayNameFor(model => model.DetalleGen)*@
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdGenero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DetalleGen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdGenero" class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdGenero" class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdGenero" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
