@model IEnumerable<WebNinnoFeliz.Models.EncargadoMatricula>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<h1>Tabla de Encargado Matricula</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table id="Tabla" class="table">
    <thead class="table-dark">
        <tr>
            <th>
                IdEncargadoMatricula
            </th>
            <th>
                Identificacion Encargado
            </th>
            <th>
                Nombre Encargado
            </th>
            <th>
                Apellido1 Encargado
            </th>
            <th>
                Apellido Encargado
            </th>
            <th>
                Parentezco
            </th>
            <th>
                Fecha Ingreso
            </th>
            <th>
                ID Niño
            </th>
            <th>
                Numero matricula
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoMatricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.IdentificacionEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.NombreEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.Apell1Encargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.Apell2Encargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.IdParentezco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroMatriculaNavigation.FechaIngreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroMatriculaNavigation.IdNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroMatricula)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdEncargadoMatricula" class="btn btn-success">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdEncargadoMatricula" class="btn btn-info">Detalle</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdEncargadoMatricula" class="btn btn-danger">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#Tabla').DataTable();
        });
    </script>
}
