@model IEnumerable<WebNinnoFeliz.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de Menú</h1>

<form asp-controller="Menu" asp-action="Index">
    <p>
        Busacar por Detalle: <input type="text" name="buscar" class="form-text" />
        <br />
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark" />
    </p>

</form>
<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
    <a asp-action="PDF" class="btn btn-primary">PDF</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdNumeroMenu)
            </th>
            <th>
                NombreMenú
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNumeroMenu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreMenu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNumeroMenu" class="btn btn-success">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNumeroMenu" class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNumeroMenu" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
