@model WebNinnoFeliz.Models.NinnoAlergiaIngrediente

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>NinnoAlergiaIngrediente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAlergiaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAlergiaNavigation.NombreAlergia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdIngredienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdIngredienteNavigation.NombreIngrediente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdNinnoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdNinnoNavigation.IdentificacionNinno)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdNinnoAlergiaIngrediente" class="btn btn-success">Editar</a> |
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
