@model IEnumerable<WebNinnoFeliz.Models.ViewModels.ListarNinno_Alergia_Ingredientes>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de niño alergia ingrediente</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
    <a asp-action="PDF" class="btn btn-primary">PDF</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                IdNAI
            </th>
            <th>
                Alergia
            </th>
            <th>
                Ingrediente
            </th>
            <th>
                Identificacion
            </th>
            <th>

                Nombre niño
            </th>
            <th>
                Apellido1
            </th>
            <th>
                Apellido2
            </th>
            <th>Acciones</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idNinnoAlergiaIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombreAlergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificacionNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell1Ninno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell2Ninno)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idNinnoAlergiaIngrediente" class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.idNinnoAlergiaIngrediente" class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.idNinnoAlergiaIngrediente" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
