@model IEnumerable<WebNinnoFeliz.Models.NaiPlato>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de NaiPlato</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                ID NaiPlato
            </th>
            <th>
                Id niño
            </th>
            <th>
                Niño alergia ingredientes
            </th>
            <th>
                Plato
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNaiplato)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IdNinnoAlergiaIngredienteNavigation.IdNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdNinnoAlergiaIngredienteNavigation.IdNinnoAlergiaIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlatoNavigation.NombrePlato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNaiplato" class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdNaiplato" class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNaiplato" class="btn btn-danger">Borrar</a>
        </tr>
        }
    </tbody>
</table>
