@model IEnumerable<WebNinnoFeliz.Models.ViewModels.ListarNAI_Platos>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de NaiPlato</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                ID NaiPlato
            </th>
            <th>
                IdentificacionNiño

            </th>
            <th>
                NombreNiño

            </th>
            <th>
                Apell1Niño

            </th>
            <th>
                Apell2Niño

            </th>
            <th>
                Alergia

            </th>
            <th>
                Ingrediente alergia

            </th>
            <th>
                Plato

            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdNaiplato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdentificacionNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell1Ninno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell2Ninno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreIngrediente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePlato)
            </td>
     
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNaiplato" class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdNaiplato" class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNaiplato" class="btn btn-danger">Borrar</a>
        </tr>
        }
    </tbody>
</table>
