@model WebNinnoFeliz.Models.Matricula

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Matricula</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngreso)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaIngreso)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNinnoNavigation.IdentificacionNinno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNinnoNavigation.IdentificacionNinno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNinnoNavigation.NombreNinno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNinnoNavigation.NombreNinno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNinnoNavigation.Apell1Ninno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNinnoNavigation.Apell1Ninno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdNinnoNavigation.Apell2Ninno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdNinnoNavigation.Apell2Ninno)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NumeroMatricula" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-dark">Back to List</a>
    </form>
</div>
