@model IEnumerable<WebNinnoFeliz.Models.NinnoEncargado>
@{
    ViewData["Title"] = "PDF";
    Layout = "~/Views/Shared/_Sty.cshtml";
}

<h1>PDF de niños y su encargados</h1>

<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                IdNiñoEncargado
                @*@Html.DisplayNameFor(model => model.IdNinnoEncargado)*@
            </th>
            <th>
                Identificacion Encargado
                @*@Html.DisplayNameFor(model => model.IdEncargadoNavigation)*@
            </th>
            <th>
                Nombre Encargado
                @*@Html.DisplayNameFor(model => model.IdEncargadoNavigation)*@
            </th>
            <th>
                Apellido1 Encargado
                @*@Html.DisplayNameFor(model => model.IdEncargadoNavigation)*@
            </th>
            <th>
                Apellido2 Encargado
                @*@Html.DisplayNameFor(model => model.IdEncargadoNavigation)*@
            </th>
            <th>
                <a class="nav-link text-white" asp-area="" asp-controller="Parentezco" asp-action="Index">Parentezco</a>
            </th>
            <th>
                Nombre niño
                @*@Html.DisplayNameFor(model => model.IdNinnoNavigation)*@
            </th>
            <th>
                Apellido1 niño
                @*@Html.DisplayNameFor(model => model.IdNinnoNavigation)*@
            </th>
            <th>
                Apellido2 niño
                @*@Html.DisplayNameFor(model => model.IdNinnoNavigation)*@
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.IdentificacionEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.NombreEncargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.Apell1Encargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.Apell2Encargado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdEncargadoNavigation.IdParentezco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoNavigation.NombreNinno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoNavigation.Apell1Ninno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNinnoNavigation.Apell2Ninno)
                </td>

            </tr>
        }
    </tbody>
</table>
