@model IEnumerable<WebNinnoFeliz.Models.Plato>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de plato</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table class="table">
    <thead class="table-dark">
        <tr>
            <th>
                Id plato
            </th>
            <th>
                Nombre plato
            </th>
            <th>
                Precio plato
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombrePlato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPlato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlato"class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPlato"class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPlato"class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
