@model IEnumerable<WebNinnoFeliz.Models.ViewModels.AbonadorCargoMensual>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles
{
    <link href="~/lib/datatables.net-bs4/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<h1>Tabla de Abonador Cargo Mensual</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
    <a asp-action="PDF" class="btn btn-primary">PDF</a>
</p>
<table id="Tabla" class="table">
    <thead class="table-dark">
        <tr>
            <th>
                ID_ACM
            </th>
            <th>
                NombreEncargado
            </th>
            <th>
                Apell1Encargado
            </th>
            <th>
                Apell2Encargado
            </th>
            <th>
                NumeroCuenta
            </th>
            <th>
                CargoMensual
            </th>
            <th>
                NombreNinno
            </th>
            <th>
                Apell1Ninno
            </th>
            <th>
                Apell2Ninno
            </th>
            @* <th>
            IdNiño
        </th> *@
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAbonadorCargoMensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreEncargado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell1Encargado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell2Encargado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoMensual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreNinno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell1Ninno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apell2Ninno)
            </td>
            @* <td>
            @Html.DisplayFor(modelItem => item.IdCargoNavigation.IdUsoComedorNavigation.IdNinno)
        </td> *@
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAbonadorCargoMensual" class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAbonadorCargoMensual" class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAbonadorCargoMensual" class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs4/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#Tabla').DataTable();
        });
    </script>
}