@model IEnumerable<WebNinnoFeliz.Models.ViewModels.ListarAlergias>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tabla de alergia</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo</a>
</p>
<table class="table">
    <thead class="table-dark">
   
        <tr>
            <th>
                Id alergia
            </th>
            <th>
                Nombre alergia
            </th>
            <th>
                Tipo alergia
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAlergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAlergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreTipoAlergia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAlergia"class="btn btn-success">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdAlergia"class="btn btn-info">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdAlergia"class="btn btn-danger">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>
