@model WebNinnoFeliz.Models.Ninno

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ninno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentificacionNinno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentificacionNinno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreNinno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreNinno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apell1Ninno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apell1Ninno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apell2Ninno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apell2Ninno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionNinno)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionNinno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdGeneroNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdGeneroNavigation.DetalleGen)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdNinno">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
